.h3 {
    font-weight: 300;
}

#root {
    max-width: calc(min(1280px, 100vw) - 0px);
    margin: 0 auto;
    padding: 1vmin;
    text-align: center;
}

.output {
    font-size: var(--font-size-caption);
    max-width: 100%;
    overflow-wrap: break-word;
}

button {
    position: relative;
}

button.copied::after {
    content: attr(data-content);
    color: #646cff;
    font-size: 0.8em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: .2rem;
    white-space: nowrap;
}

input {
    font-family: 'Noto Serif', 'Noto Serif KR', serif;
    max-width: 95%;
}

input::placeholder {
    font-family: 'Noto Serif', 'Noto Serif KR', serif;
}
div.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: wrap;
}
#output {
    font-style: italic;
    font-weight: 700;
}
.history {
    position: absolute;
    top: calc(50dvh + 250px);
    padding: 0 1vmin 25dvh 1vmin;
}
.history li {
    font-size: var(--font-size-caption);
    font-style: italic;
    line-height: 2.5;
    list-style: none;
    text-align: center;
}